/* 
Tyler McAfee
ace.less
CAS222 Integrated Website Design
Ace in the Hole Multisport Events
*/

/* MOBILE */

@import 'palette.less';

header {
    background-color: @darkColor;
    height: 125px;
    text-align: center;
    h1 {
        font-size: 400%;
        display: inline-block;
        color: @lightColor;
        padding: 25px;
    }
}

a {     text-decoration: none;
}

nav {
    text-align: center;
    // background-color: @color1;
    // height: 65px;
    display: inline-block;
    //vertical-align: middle;
    padding-top: 6px;
    dl dt div {
        width: 40px;
        height: 8px;
        background-color: @color1;
        margin: 6px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
    }
}

// NEW NEW NEW NEW

// NEW NEW NEW NEW

body {
    font-family: sans-serif, "Times New Roman";
    font-size: 16px;
    line-height: 1.5em;
    background-color: @lightColor;
    color: @darkColor;
    text-align: center;
}


footer {
    background-color: @darkColor;
    width: 100%;
    height: 60px;
    a {
        text-align: center;
        color: @lightColor;
    }

    a:hover {
        color: aqua;
    }
}

#section1 {
    height: 300px;
}

#section2 {
    height: 300px;
}

#section3 {
    height: 300px;
    li { 
        text-decoration: none;
        list-style: none;
    }
}

/* JAVASCRIPT CSS */

dt, dd {
   font-family: sans-serif;
   margin: 2px 0;
}

dt {
    cursor: pointer;
    font-size: 1.5em;
}
dt:hover {
    color: @lightColor;
}

dd {
    font-size: 1.2em;
    vertical-align: center;
    a {
        display: block;
        // float: left;
        padding-top: 15px;
        width: 150px;
        height: 50px;
        background-color: @color1;
        text-align: center;
        vertical-align: middle;
        color: @lightColor;
    }
    a:hover {
        background-color: @darkColor;
    }
    p {
        margin: 0;
        padding: 0;
        vertical-align: middle;
    }
}

#link1 {
    border-bottom: 2px solid @lightColor;
}

#link2 {
    border-bottom: 2px solid @lightColor;
}

#link3 {
    border-bottom: 2px solid @lightColor;
}

/* TABLET */

@media only screen and (min-width: 481px) {
    footer {
        a {
            padding: 10px;
        }
    }
}

/* DESKTOP */

@media only screen and (min-width: 1025px) {
    header, main {
        padding: 2em;
    }

    header h1 {
        font-size: 450%;
    }

    nav {
        display: unset;
        text-align: left;
        width: 80px;
        dl dt div {
            width: 40px;
            height: 8px;
            margin: 6px;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px;
        }
    }

}